@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Open+Sans:wght@300;400;500;600;700;800&family=Raleway:wght@100;200;300;400;500;600;700;800&family=Roboto:wght@100;300;400;500;700;900&display=swap');

/* Root Styles */
:root {
  /* colors */
  /* Primary Colors */
  --login-navy-blue: hsl(210, 100%, 20%);
  --font-dark-blue: hsla(207, 43%, 16%, 1);
  --active-lite-blue: hsla(200, 100%, 70%, 1);
  --search-placeholder: hsla(248, 92%, 37%, 0.5);
  --orange-no: hsla(0, 100%, 50%, 1);

  /* Neutral Colors */
  --black: hsla(0, 0%, 0%, 1);
  --white: hsla(0, 0%, 100%, 1);
  --light-ash-bg-search: hsla(0, 0%, 95%, 1);

  /* Font Families */
  --lato: 'Lato', sans-serif;
  --open-sans: 'Open Sans', sans-serif;
  --raleway: 'Raleway', sans-serif;
  --roboto: 'Roboto', sans-serif;
}

/* Reset Styles */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body, h1, h2, h3, h4, h5, h6, p, ul, li {
  margin: 0;
  padding: 0;
}

/* Base Styles */
body {
  background-color: var(--white);
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: inline-block;
  max-width: 100%;
}

ul, li {
  list-style: none;
}

button {
  cursor: pointer;
}

input:focus {
  border: none;
  outline: none;
}

.notFound {
  text-align: center;
  margin-block: 4rem;
  font-size: clamp(1.2rem, 1.5vw, 2.4rem);
  color: red;
}

/* Utility Styles */
.container {
  width: 70%;
  margin-inline: auto;
}

.wrapper {
  width: 92%;
  margin-inline: auto;
}

/* Loader Styles */
.loaded {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-block-start: 4rem;
}

.overwrap {
  background-color: hsla(0, 1%, 39%, .7 );
  z-index: 900;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.stephLoader {
  height: 60px;
  background-color: var(--white);
  padding-block-start: .6rem;
  border-radius: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;
}

.loadContainer {
  height: 20px;
  width: 100%;
  background-color: #f0f0f0;
  border-radius: 0px 0px 10px 10px;
  overflow: hidden;
}

.blueLoader {
  height: 100%;
  background-color: #007bff;
  width: 50%;
  transition: width 2.5s ease-in-out;
}

.loginMain {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.loginMain aside {
  background-color: var(--login-navy-blue);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
}

.loginMain aside img {
  width: 60%;
  margin-block-end: 3rem;
}

.loginMain aside p {
  font-weight: 500;
  font-family: var(--lato);
  font-size: clamp(1rem, 1.3vw, 2.4rem);
  color: var(--white);
  text-align: center;
}

.loginMain section {
  width: 35%;
  height: 100%;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.loginMain section nav {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-block-end: 8rem;
}

.loginMain section nav p {
  color: var(--login-navy-blue);
  font-family: Arial, sans-serif;
  font-weight: 400;
  font-size: clamp(1.1rem, 1.3vw, 2.4rem);
}

.loginMain section .loginBody {
  display: flex;
  flex-direction: column;
  color: var(--black);
}

.loginMain section .loginBody h1 {
  font-weight: 600;
  font-family: var(--open-sans);
  font-size: clamp(2rem, 2vw, 4rem);
  margin-block-end: 2rem;
}

.loginMain section .loginBody p {
  font-family: var(--roboto);
  font-size: clamp(1rem, 1.3vw, 2.4rem);
}

.loginMain section .loginBody form {
  display: flex;
  flex-direction: column;
  margin-block-start: 3.6rem;
  gap: 3rem;
}

.loginMain section .loginBody form input {
  border: none;
  border-bottom: 2px solid hsla(0, 0%, 65%, 1);
  font-family: var(--lato);
  font-weight: 400;
  font-size: clamp(1.1rem, 1.3vw, 2.4rem);
  height: 40px;
  color: var(--font-dark-blue);
}

p.err-mssg {
  font-family: inherit;
  font-style: italic;
  color: red;
  font-weight: 800;
  font-size: clamp(1rem, 1.3vw, 2.4rem);
}

.loginMain section .loginBody form button {
  border-radius: 5px;
  border: none;
  color: white;
  padding-block: .8rem;
  background-color: var(--login-navy-blue);
  font-family: var(--raleway);
  font-weight: 500;
  font-size: clamp(1rem, 1.3vw, 2.4rem);
  display: flex;
  justify-content: center;
}

/* Layout Page */
main.navbarContent {
  width: 100vw;
  display: flex;
}

/* Aside Nav */
main.navbarContent aside.nav {
  position: sticky;
  top: 0;
  width: 23%;
  background-color: var(--login-navy-blue);
  height: 100vh;
}

aside.nav nav ul {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  color: var(--white);
  font-family: var(--roboto);
  font-weight: 400;
  font-size: clamp(1rem, 1.3vw, 2.4rem);
}

aside.nav nav ul li:first-child {
  font-family: Arial, sans-serif;
  margin-block: 3.5rem 2.5rem;
  font-size: clamp(1rem, 1.3vw, 2.4rem);
}

aside.nav nav ul li:first-child a img {
  width: unset;
}

aside.nav nav ul li a {
  display: flex;
  align-items: center;
  gap: .7rem;
}

aside.nav nav ul li a img {
  width: 25px;
}

/* Main Section Content */
main.navbarContent section.content {
  width: 77%;
}

/* Dashboard */
section.content header {
  top: 0;
  background-color: var(--white);
  padding-block-start: 2rem;
  border-bottom: .1px solid var(--light-ash-bg-search);
  box-shadow:  0px 0px 10px 1px rgba(0,0,0,0.1);
}

section.content header .headerWrap {
  width: 92%;
  margin-inline: auto;
}

section.content header .headerWrap nav.topHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-block: 1rem;
  font-size: clamp(1.5rem, 1.5vw, 3rem);
  font-family: var(--open-sans);
  font-weight: 600;
  color: var(--black);
}

section.content header .headerWrap nav.topHeader img {
  cursor: pointer;
  width: 3%;
}

section.content header .headerWrap .bottomHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-block-end: 1rem;
}

section.content header .headerWrap .bottomHeader.tree {
  justify-content: space-between;
}

header .headerWrap .bottomHeader .searchForm {
  display: flex;
  align-items: center;
}

header .headerWrap .bottomHeader .searchForm input {
  font-family: var(--roboto);
  font-weight: 400;
  font-size: clamp(1rem, 1vw, 2rem);
  border: none;
  border-radius: 8px;
  padding-inline: 1rem;
  width: 450px;
  padding-block: .6rem ;
  background-color: var(--light-ash-bg-search);
  color: var(--search-placeholder);
}

header .headerWrap .bottomHeader .searchForm input::placeholder {
  color: var(--search-placeholder);
}

section.content header .headerWrap .bottomHeader.tree button {
  background-color: var(--login-navy-blue);
  font-family: var(--raleway);
  font-weight: 500;
  font-size: clamp(0.8rem, 1vw, 1.1rem);
  color: var(--white);
  border: none;
  border-radius: 5px;
  padding: .7rem 2rem;
  max-height: 43px;
}

/* PopupForm */
.popupForm {
  position: absolute;
  top: 90px;
  width: max(400px, 30%);
  right: -20px;
  transform: translateX(-10%);
  background-color: #fff;
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.popupForm form .popupFormHeader {
  background-color: var(--login-navy-blue);
  border-radius: 5px 5px 0px 0px;
  color: var(--white);
}

.popupForm form .popupFormHeader .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: .8rem;
}

.popupForm form .popupFormHeader h2 {
  font-family: var(--lato);
  font-weight: 600;
  font-size: clamp(1rem, 1.2vw, 2.4rem);
}

.popupForm form .popupFormHeader .closeIcon {
  cursor: pointer;
  background-color: var(--white);
  padding: .5rem;
  border-radius: 50%;
}

.popupForm form .formField {
  display: flex;
  flex-direction: column;
  font-family: var(--lato);
  font-weight: 500;
  padding-block: 1rem;
}

.popupForm form .formField input:first-child {
  width: 100%;
  border: none;
  font-size: clamp(.9rem, 1.2vw, 2.4rem);
  padding-block-end: .2rem;
  border-bottom: 1px solid hsla(0, 0%, 65%, 1);
}

.popupForm form .formField .twoForms {
  display: flex;
  margin-block: 1rem;
  font-size: clamp(.8rem, 1vw, 1.5rem);
  justify-content: space-between;
  gap: 1.5rem;
  width: 100%;
}

.popupForm form .formField .twoForms input, .twoForms select {
  margin-block: .5rem .6rem;
  color: black;
  border: none;
  width: 100%;
  border-radius: 5px;
  padding: .6rem .5rem;
  font-size: clamp(.4rem, .8vw, 1.2rem);
  font-family: inherit;
  font-weight: inherit;
  border: 1px solid var(--login-navy-blue);
}

.popupForm form .formField .twoForms .firstForm, .popupForm form .formField .twoForms .secondForm {
  width: 50%;
}

/* Dashboard content */
main.dash {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  height: 80%;
  font-family: var(--lato);
}

main.dash article {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 5rem 3rem;
  font-weight: 600;
  background-color: var(--light-ash-bg-search);
  border-radius: 10px;
  font-size: clamp(1rem, 1.5vw, 2.5rem);
  cursor: pointer;
}

main.dash article p.numAvailable {
  color: var(--login-navy-blue);
}

/* Human Medicines */
nav.meds {
  display: flex;
  align-items: center;
  gap: 10rem;
  margin-block: 2rem;
  font-family: var(--roboto);
  font-weight: 500;
  font-size: clamp(1.05rem, 1.2vw, 2.1rem);
}

nav.meds a {
  border-bottom: 2px solid white;
  padding: .3rem 1rem;
  color: var(--login-navy-blue);
}

nav.meds a.active {
  color: var(--active-lite-blue);
  border-color: var(--active-lite-blue);
}

/* Main Available Stock */
main.wrapper .availableStock {
  margin-block-end: 4rem;
  font-family: var(--lato);
  color: var(--font-dark-blue);
}

main.wrapper .availableStock .stockHead {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: clamp(1rem, 1.3vw, 2rem);
}

main.wrapper .availableStock .stockHead > * {
  flex: 1;
}

main.wrapper .availableStock .stockDetails {
  display: flex;
  align-items: center;
  margin-block: 2rem;
  font-weight: 400;
  font-size: clamp(1rem, 1.15vw, 2.2rem);
  padding-block: 1rem .5rem;
  border-bottom: 1px solid var(--black);
}

main.wrapper .availableStock .stockDetails > * {
  flex: 1;
}

main.wrapper .availableStock .stockDetails .date {
  display: flex;
  justify-content: space-between;
}

/* Notification Page */
main.notification.wrapper {
  font-family: var(--lato);
  font-weight: 500;
  font-size: clamp(1.2rem, 1.3vw, 2.4rem);
  color: var(--font-dark-blue);
  margin-block: 2rem;
}

main.notification .notification-preview {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: .7rem;
  margin-block: 2rem;
  border-bottom: 1px solid var(--font-dark-blue);
}

main.notification .notification-preview img {
  margin-inline-end: 1rem;
  width: 4%;
}

/* Employee Page */
main.wrapper.employee {
  margin-block: 3rem;
}

main.wrapper.employee .availableStock .stockDetails p:last-child {
  color: var(--active-lite-blue);
}

/* Receipt */
main.receipt {
  display: flex;
  margin-block: 3rem;
  gap: 2rem;
}

main.receipt .receiptWrapper {
  width: 68%;
}

/* Receipt View */
.recieptView {
  width: min(30%, 360px);
  margin-inline: auto;
  border-radius: 10px;
  border: 10px solid var(--light-ash-bg-search);
  text-align: center;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1.5rem;
  font-size: clamp(.8rem, 1.1vw, 2rem);
}

.receipt .recieptView header {
  position: unset;
  top: unset;
  padding-block-start: unset;
  background-color: unset;
  box-shadow: unset;
  border: unset;
}

.receipt .recieptView header h1 {
  margin-block-end: .4rem;
  text-transform: uppercase;
  font-family: var(--open-sans);
  font-weight: 600;
}

.receipt .recieptView header p {
  margin-block-end: .3rem;
  font-family: var(--lato);
  font-size: clamp(.7rem, 1vw, 1.5rem);
}

.receipt .recieptView h2 {
  border-block: 2px dotted black;
  width: 100%;
  margin-block: 1rem .5rem;
  padding: 0.3rem;
  font-family: var(--lato);
  font-weight: 400;
  font-size: clamp(.8rem, 1.1vw, 2rem);
}

.recieptView section table {
  font-family: var(--lato);
  font-weight: 500;
}

.recieptView section table tbody tr {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: clamp(.5rem, .6vw, 1rem);
  gap: 3rem;
  margin-block-end: .4rem;
}

.recieptView section table tbody .tableFooter {
  border-block: 2px dotted black;
  padding-block-start: .5rem;
}

.receipt .recieptView h3 {
  font-family: var(--open-sans);
  font-weight: 600;
  font-size: 0.9rem;
  margin-block: .5rem;
}

.receipt .recieptView button {
  align-self: flex-end;
  border: none;
  color: var(--white);
  border-radius: 5px;
  padding: 0.5rem 1rem;
  font-size: clamp(.7rem, .7vw, 1.4rem);
  background-color: var(--login-navy-blue);
}

@media print {
  .recieptView {
    width: 80%;
    height: 100%;
    border: unset;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3rem;
    font-size: 2rem;
    margin-inline: auto;
  }

  .recieptView section .topTable {
    border-block-start: 2px dotted #000000;
    margin-block-start: 1rem;
  }
  
  .recieptView section table tbody tr {
    display: flex;
    font-size: 2rem;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    margin-block-end: 2rem;
  }
  
  .recieptView section table tbody .tableFooter {
    border-block: 2px dotted #000000;
    padding-block-start: 2rem;
    margin-block-end: 2rem;
  }
}

/* Cashier pages */
/* Sales */
main.wrapper.cashierSales {
  margin-block: 3rem;
}

main.wrapper.cashierSales .availableStock .stockHead > p:first-child {
  min-width: 150px;
}

main.wrapper.cashierSales .availableStock .stockHead > p:nth-child(2), .cashierSales .availableStock .stockHead > p:nth-child(3), .cashierSales .availableStock .stockHead > p:nth-child(4) {
  max-width: 105px;
}

main.wrapper.cashierSales .availableStock .stockDetails p:first-child {
  min-width: 150px;
}

main.wrapper.cashierSales .availableStock .stockDetails > p:nth-child(2), .cashierSales .availableStock .stockDetails > p:nth-child(3), .cashierSales .availableStock .stockDetails > p:nth-child(4) {
  max-width: 105px;
}


main.wrapper.cashierSales .availableStock .stockHead p:last-child {
  max-width: 90px;
}

main.wrapper.cashierSales .availableStock .stockDetails button {
  background: var(--active-lite-blue);
  border: none;
  text-align: center;
  max-width: 90px;
  margin-inline-end: 1rem;
  padding-block: .5rem;
  font-family: var(--lato);
  font-weight: 400;
  color: white;
  border-radius: 5px;
}
